# KickOffs Anaylis

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl

%matplotlib inline
import os

pd.pandas.set_option("display.max_columns",None)
for dirname, _, filenames in os.walk('./data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

./data/tracking2019.csv
./data/tracking2018.csv
./data/kickoffs.csv
./data/extra_points.csv
./data/PFFScoutingData.csv
./data/plays.csv
./data/punts.csv
./data/tracking2020.csv
./data/players.csv
./data/games.csv
./data/nfl-big-data-bowl-2022.zip
./data/field_goal.csv

In [3]:
data = pd.read_csv('./data/kickoffs.csv')

In [5]:
data.head()

,gameId,playId,quarter,specialTeamsResult,kickerId,returnerId,gameClock,penaltyCodes,penaltyJerseyNumbers,penaltyYards,preSnapHomeScore,preSnapVisitorScore,kickLength,kickReturnYardage,playResult,absoluteYardlineNumber
0,2018090600,37,1,Touchback,44966.0,NaN,15:00:00,NaN,NaN,NaN,0,0,66.0,NaN,40,45
1,2018090600,677,1,Return,37267.0,44979,05:01:00,NaN,NaN,NaN,0,3,64.0,30.0,34,75
2,2018090600,1387,2,Touchback,44966.0,NaN,06:09:00,NaN,NaN,NaN,3,3,72.0,NaN,40,75
3,2018090600,1606,2,Return,37267.0,44979,02:08:00,OH,PHI 29,5.0,3,6,68.0,13.0,60,45
4,2018090600,2225,3,Touchback,37267.0,NaN,15:00:00,NaN,NaN,NaN,3,6,71.0,NaN,40,45

In [26]:
def get_game_by_id(data,gameid):
    if gameid in data.gameId.unique():
        return data[data['gameId'] == gameid]
    else:
        print(f"'gameid:' {gameid}, was not file!")

In [30]:
game = get_game_by_id(data,2018090600)
game

,gameId,playId,quarter,specialTeamsResult,kickerId,returnerId,gameClock,penaltyCodes,penaltyJerseyNumbers,penaltyYards,preSnapHomeScore,preSnapVisitorScore,kickLength,kickReturnYardage,playResult,absoluteYardlineNumber
0,2018090600,37,1,Touchback,44966.0,NaN,15:00:00,NaN,NaN,NaN,0,0,66.0,NaN,40,45
1,2018090600,677,1,Return,37267.0,44979,05:01:00,NaN,NaN,NaN,0,3,64.0,30.0,34,75
2,2018090600,1387,2,Touchback,44966.0,NaN,06:09:00,NaN,NaN,NaN,3,3,72.0,NaN,40,75
3,2018090600,1606,2,Return,37267.0,44979,02:08:00,OH,PHI 29,5.0,3,6,68.0,13.0,60,45
4,2018090600,2225,3,Touchback,37267.0,NaN,15:00:00,NaN,NaN,NaN,3,6,71.0,NaN,40,45
5,2018090600,2899,3,Touchback,44966.0,NaN,04:37:00,UNRd,PHI 47,-15.0,10,6,75.0,NaN,25,75
6,2018090600,3569,4,Touchback,37267.0,NaN,09:48:00,NaN,NaN,NaN,10,12,70.0,NaN,40,75
7,2018090600,4127,4,Touchback,44966.0,NaN,02:19:00,NaN,NaN,NaN,18,12,73.0,NaN,40,45

In [32]:
game.playId.value_counts()

2225    1
2899    1
677     1
1606    1
3569    1
1387    1
37      1
4127    1
Name: playId, dtype: int64